//contained within this file are all your resets, variables, mixins, and any utility classes.

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Sedgwick+Ave&display=swap");

$background-color: #5bc3f0;
$orange-color: #ffa033;
$text-color: #ffffff;
$secondary-color: #147eb2;

@mixin paragraph {
  font-family: "Lato", sans-serif;
  color: $text-color;
}

@mixin headline {
  font-family: "Sedgwick Ave", cursive;
  color: $text-color;

  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: $orange-color;
  text-decoration-thickness: 4px;
}

@mixin headlineDesktop {
  font-family: "Sedgwick Ave", cursive;
  color: $text-color;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: $orange-color;
  text-decoration-thickness: 9px;
  font-size: 3em;
  margin-top: 1%;
  margin-bottom: 1%;
}

@mixin paragraphDesktop {
  font-family: "Lato", sans-serif;
  color: $text-color;
  font-size: 1.5em;
}
