@import "base";
@import "components";
@import "layout";

body {
  background-color: $background-color;
  margin: 0;

  header {
    display: grid;
    grid-row: 1;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

    .menu {
      display: grid;
      grid-template-columns: 2% 50% auto 12% 2%;
      grid-template-rows: 16% 75%;
      height: 70px;

      .menuLogo {
        grid-column: 2;
        grid-row: 2;
        width: 205px;
        height: 56px;

        z-index: 1;
      }

      .hamburgerMenu {
        display: grid;
        grid-column: 4;
        grid-row: 2;
        .burgerIcon {
          text-decoration: none;
          padding: 3px 6px;
          background-color: $secondary-color;
          display: flex;
          justify-content: center;
          align-items: center;

          .fa {
            font-size: 2em;
            color: $text-color;
          }
        }
      }

      #menuItems {
        display: none;
        width: 100%;
        height: 200%;
        @include paragraph;
        list-style: none;
        grid-column: 3 / 5;
        grid-row: 3;
        margin: 0%;
        padding: 0%;

        z-index: 1;
        background-color: $secondary-color;

        .menuLink {
          display: flex;
          align-self: center;
          justify-self: end;
          font-size: 1em;
          padding-top: 2%;
          padding-right: 5%;
          a {
            text-decoration: none;
            @include paragraph;
          }
        }
      }
    }
  }
  .eventSection {
    display: grid;
    grid-row: 2;
    grid-template-columns: 3% 33% 61% 3%;
    grid-template-rows: 19% 27% 15% 11% 28%;

    .eventImage {
      width: 100%;

      grid-column: 2 / span 2;
      grid-row: 1;
    }
    #eventInfo {
      grid-column: 2 / span 2;
      grid-row: 2;
      .headline {
        @include headline;
      }
      .paragraph {
        @include paragraph;
      }
    }
    .eventMap {
      grid-column: 3;
      grid-row: 3;
      width: 100%;
      margin-top: 14px;
    }
    .prices {
      grid-column: 2;
      grid-row: 3;
      .headline {
        @include headline;
      }

      .priceList {
        list-style: none;
        padding: 0%;
        @include paragraph;
      }
    }
    .openingHours {
      grid-column: 2 / span 2;
      grid-row: 4;
      .paragraph {
        @include paragraph;
      }
    }

    .terms {
      grid-column: 2 / span 2;
      grid-row: 5;
      .headline {
        @include headline;
      }
      .paragraph {
        @include paragraph;
      }
    }
  }

  .animation {
    #pikeBus {
      width: 55%;
    }
    .water {
      z-index: 1;
      height: 30px;
      position: relative;
      top: -37px;
      background-color: $secondary-color;
      margin: 0% 2%;
    }
  }

  #aboutUsSection {
    display: grid;
    grid-row: 4;
    grid-template-columns: 3% 51% 43% 3%;
    grid-template-rows: 50% 21% 17%;

    .logoSquare {
      width: 185px;
      grid-column: 2;
      grid-row: 1;
      margin-top: 7px;
    }
    #firstParagraph {
      grid-column: 3;
      grid-row: 1;
      text-align: right;
      .headline {
        @include headline;
        margin-top: 0%;
      }
      .paragraph {
        @include paragraph;
      }
    }
    #secondParagraph {
      grid-column: 2 / span 2;
      grid-row: 2;
      text-align: right;

      .paragraph {
        @include paragraph;
        margin-top: 3%;
      }
    }
    #thirdParagraph {
      grid-column: 2 / span 2;
      grid-row: 3;
      text-align: right;
      .paragraph {
        @include paragraph;
      }
    }
  }
  #contact {
    display: grid;
    grid-row: 5;
    grid-column: 1 / span 1;
    grid-template-columns: 5% 29% 46% 18% 2%;
    grid-template-rows: 100%;
    background-color: $secondary-color;
    .adress {
      grid-row: 1;
      grid-column: 2;
      .smallHeadline {
        @include paragraph;
        font-size: 15px;
        margin-bottom: 0%;
      }
      ul {
        @include paragraph;
        list-style: none;
        padding: 0%;
        font-size: 13px;
      }
    }
    .contactUs {
      grid-row: 1;
      grid-column: 3;
      .smallHeadline {
        @include paragraph;
        font-size: 15px;
        margin-bottom: 0%;
      }
      ul {
        @include paragraph;
        list-style: none;
        padding: 0%;
        font-size: 13px;
      }
    }
    .socialMedia {
      grid-row: 1;
      grid-column: 4;
      .smallHeadline {
        @include paragraph;
        font-size: 15px;
        margin-bottom: 0%;
      }
      ul {
        @include paragraph;
        list-style: none;
        padding: 0%;
        font-size: 13px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  /* Desktop: */
}
