@import "base";
@import "components";
@import "layout";

body {
  background-color: $background-color;
  margin: 0;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 3% 97%;
  header {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

    .menu {
      display: grid;
      grid-template-columns: 50% 38% 12%;
      grid-template-rows: 100% auto;

      .menuLogo {
        grid-column: 1;
        grid-row: 1;
        width: 183px;
        height: 47px;
        margin: 2%;
      }

      .hamburgerMenu {
        display: grid;
        grid-column: 3;
        grid-row: 1;
        .burgerIcon {
          text-decoration: none;
          padding: 3px 6px;
          background-color: $secondary-color;
          display: flex;
          justify-content: center;
          align-items: center;

          .fa {
            font-size: 2em;
            color: $text-color;
          }
        }
      }

      #menuItems {
        display: none;
        width: 100%;
        list-style: none;
        grid-column: 2 / span 3;
        grid-row: 2;
        margin: 0%;
        padding: 0%;
        text-align: right;
        z-index: 1;
        background-color: $secondary-color;

        .menuLink {
          font-size: 1em;
        }
      }
    }
  }
  .aboutUs {
    .logoSquare {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 768px) {
  /* Desktop: */
}
