@import url("https://fonts.googleapis.com/css2?family=Lato&family=Sedgwick+Ave&display=swap");
body {
  background-color: #5bc3f0;
  margin: 0; }
  body header {
    display: grid;
    grid-row: 1;
    grid-template-columns: 100%;
    grid-template-rows: 100%; }
    body header .menu {
      display: grid;
      grid-template-columns: 2% 50% auto 12% 2%;
      grid-template-rows: 16% 75%;
      height: 70px; }
      body header .menu .menuLogo {
        grid-column: 2;
        grid-row: 2;
        width: 205px;
        height: 56px;
        z-index: 1; }
      body header .menu .hamburgerMenu {
        display: grid;
        grid-column: 4;
        grid-row: 2; }
        body header .menu .hamburgerMenu .burgerIcon {
          text-decoration: none;
          padding: 3px 6px;
          background-color: #147eb2;
          display: flex;
          justify-content: center;
          align-items: center; }
          body header .menu .hamburgerMenu .burgerIcon .fa {
            font-size: 2em;
            color: #ffffff; }
      body header .menu #menuItems {
        display: none;
        width: 100%;
        height: 200%;
        font-family: "Lato", sans-serif;
        color: #ffffff;
        list-style: none;
        grid-column: 3 / 5;
        grid-row: 3;
        margin: 0%;
        padding: 0%;
        z-index: 1;
        background-color: #147eb2; }
        body header .menu #menuItems .menuLink {
          display: flex;
          align-self: center;
          justify-self: end;
          font-size: 1em;
          padding-top: 2%;
          padding-right: 5%; }
          body header .menu #menuItems .menuLink a {
            text-decoration: none;
            font-family: "Lato", sans-serif;
            color: #ffffff; }
  body .eventSection {
    display: grid;
    grid-row: 2;
    grid-template-columns: 3% 33% 61% 3%;
    grid-template-rows: 17% 25% 15% 16% 25%; }
    body .eventSection .eventImage {
      width: 100%;
      grid-column: 2 / span 2;
      grid-row: 1; }
    body .eventSection #eventInfo {
      grid-column: 2 / span 2;
      grid-row: 2; }
      body .eventSection #eventInfo .headline {
        font-family: "Sedgwick Ave", cursive;
        color: #ffffff;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-color: #ffa033;
        text-decoration-thickness: 4px; }
      body .eventSection #eventInfo .paragraph {
        font-family: "Lato", sans-serif;
        color: #ffffff; }
    body .eventSection .eventMap {
      grid-column: 3;
      grid-row: 3;
      margin-top: 14px; }
      body .eventSection .eventMap iframe {
        width: 225px;
        height: 130px; }
    body .eventSection .prices {
      grid-column: 2;
      grid-row: 3; }
      body .eventSection .prices .headline {
        font-family: "Sedgwick Ave", cursive;
        color: #ffffff;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-color: #ffa033;
        text-decoration-thickness: 4px; }
      body .eventSection .prices .priceList {
        list-style: none;
        padding: 0%;
        font-family: "Lato", sans-serif;
        color: #ffffff; }
    body .eventSection .openingHours {
      grid-column: 2 / span 2;
      grid-row: 4; }
      body .eventSection .openingHours .paragraph {
        font-family: "Lato", sans-serif;
        color: #ffffff; }
    body .eventSection .terms {
      grid-column: 2 / span 2;
      grid-row: 5; }
      body .eventSection .terms .headline {
        font-family: "Sedgwick Ave", cursive;
        color: #ffffff;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-color: #ffa033;
        text-decoration-thickness: 4px; }
      body .eventSection .terms .paragraph {
        font-family: "Lato", sans-serif;
        color: #ffffff; }
  body .animation #pikeBus {
    width: 55%; }
  body .animation .water {
    z-index: 1;
    height: 30px;
    position: relative;
    top: -37px;
    background-color: #147eb2;
    margin: 0% 2%; }
  body #aboutUsSection {
    display: grid;
    grid-row: 4;
    grid-template-columns: 3% 51% 43% 3%;
    grid-template-rows: 50% 21% 17%; }
    body #aboutUsSection .logoSquare {
      width: 185px;
      grid-column: 2;
      grid-row: 1;
      margin-top: 7px; }
    body #aboutUsSection #firstParagraph {
      grid-column: 3;
      grid-row: 1;
      text-align: right; }
      body #aboutUsSection #firstParagraph .headline {
        font-family: "Sedgwick Ave", cursive;
        color: #ffffff;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-color: #ffa033;
        text-decoration-thickness: 4px;
        margin-top: 0%; }
      body #aboutUsSection #firstParagraph .paragraph {
        font-family: "Lato", sans-serif;
        color: #ffffff; }
    body #aboutUsSection #secondParagraph {
      grid-column: 2 / span 2;
      grid-row: 2;
      text-align: right; }
      body #aboutUsSection #secondParagraph .paragraph {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        margin-top: 3%; }
    body #aboutUsSection #thirdParagraph {
      grid-column: 2 / span 2;
      grid-row: 3;
      text-align: right; }
      body #aboutUsSection #thirdParagraph .paragraph {
        font-family: "Lato", sans-serif;
        color: #ffffff; }
  body #contact {
    display: grid;
    grid-row: 5;
    grid-column: 1 / span 1;
    grid-template-columns: 2% 30% 42% 24% 2%;
    grid-template-rows: 100%;
    background-color: #147eb2; }
    body #contact .adress {
      grid-row: 1;
      grid-column: 2; }
      body #contact .adress .smallHeadline {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        margin-bottom: 0%; }
      body #contact .adress ul {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        list-style: none;
        padding: 0%; }
    body #contact .contactUs {
      grid-row: 1;
      grid-column: 3; }
      body #contact .contactUs .smallHeadline {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        margin-bottom: 0%; }
      body #contact .contactUs ul {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        list-style: none;
        padding: 0%; }
    body #contact .socialMedia {
      grid-row: 1;
      grid-column: 4; }
      body #contact .socialMedia .smallHeadline {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        margin-bottom: 0%; }
      body #contact .socialMedia ul {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        list-style: none;
        padding: 0%; }

@media only screen and (min-width: 768px) {
  body header {
    display: grid;
    grid-row: 1;
    grid-template-columns: 100%;
    grid-template-rows: 100%; }
    body header .menu {
      display: grid;
      grid-template-columns: 3% 41% 53% 3%;
      grid-template-rows: 100%;
      height: 150px; }
      body header .menu .menuLogo {
        grid-column: 2;
        grid-row: 1;
        width: auto;
        height: 150px; }
      body header .menu .hamburgerMenu {
        display: none; }
        body header .menu .hamburgerMenu .burgerIcon {
          display: none; }
          body header .menu .hamburgerMenu .burgerIcon .fa {
            display: none; }
      body header .menu #menuItems {
        display: flex;
        width: 100%;
        height: 100%;
        font-family: "Lato", sans-serif;
        color: #ffffff;
        list-style: none;
        grid-column: 3;
        grid-row: 1;
        background-color: unset;
        z-index: 0;
        justify-content: space-evenly; }
        body header .menu #menuItems .menuLink {
          font-size: 2em;
          padding: 2%; }
          body header .menu #menuItems .menuLink a {
            text-decoration: none;
            font-family: "Lato", sans-serif;
            color: #ffffff; }
  body .eventSection {
    display: grid;
    grid-row: 2;
    grid-template-columns: 4% 46% 46% 4%;
    grid-template-rows: 49% 26% 10% 15%; }
    body .eventSection .eventImage {
      width: 100%;
      grid-column: 2 / span 2;
      grid-row: 1; }
    body .eventSection #eventInfo {
      grid-column: 2;
      grid-row: 2; }
      body .eventSection #eventInfo .headline {
        font-family: "Sedgwick Ave", cursive;
        color: #ffffff;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-color: #ffa033;
        text-decoration-thickness: 9px;
        font-size: 3em;
        margin-top: 1%;
        margin-bottom: 1%; }
      body .eventSection #eventInfo .paragraph {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        font-size: 1.5em; }
    body .eventSection .eventMap {
      grid-column: 3;
      grid-row: 2;
      margin-top: 60px;
      margin-left: 30px;
      margin-bottom: 40px; }
      body .eventSection .eventMap iframe {
        width: 100%;
        height: 100%; }
    body .eventSection .prices {
      grid-column: 2;
      grid-row: 3; }
      body .eventSection .prices .headline {
        font-family: "Sedgwick Ave", cursive;
        color: #ffffff;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-color: #ffa033;
        text-decoration-thickness: 9px;
        font-size: 3em;
        margin-top: 1%;
        margin-bottom: 1%; }
      body .eventSection .prices .priceList {
        list-style: none;
        padding: 0%;
        font-family: "Lato", sans-serif;
        color: #ffffff;
        font-size: 1.5em; }
    body .eventSection .openingHours {
      grid-column: 2;
      grid-row: 4; }
      body .eventSection .openingHours .paragraph {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        font-size: 1.5em; }
    body .eventSection .terms {
      grid-column: 3;
      grid-row: 3 / span 2;
      text-align: end;
      margin-left: 30px; }
      body .eventSection .terms .headline {
        font-family: "Sedgwick Ave", cursive;
        color: #ffffff;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-color: #ffa033;
        text-decoration-thickness: 9px;
        font-size: 3em;
        margin-top: 1%;
        margin-bottom: 1%; }
      body .eventSection .terms .paragraph {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        font-size: 1.5em; }
  body .animation #pikeBus {
    width: 30%; }
  body .animation .water {
    z-index: 1;
    height: 44px;
    position: relative;
    top: -73px;
    background-color: #147eb2;
    margin: 0% 2%; }
  body #aboutUsSection {
    display: grid;
    grid-row: 4;
    grid-template-columns: 3% 30% 64% 3%;
    grid-template-rows: 34% 27% 39%; }
    body #aboutUsSection .logoSquare {
      width: 100%;
      grid-column: 2;
      grid-row: 1 / span 3;
      margin-top: 0%; }
    body #aboutUsSection #firstParagraph {
      grid-column: 3;
      grid-row: 1;
      text-align: right; }
      body #aboutUsSection #firstParagraph .headline {
        font-family: "Sedgwick Ave", cursive;
        color: #ffffff;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-color: #ffa033;
        text-decoration-thickness: 9px;
        font-size: 3em;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-top: 0%; }
      body #aboutUsSection #firstParagraph .paragraph {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        font-size: 1.5em; }
    body #aboutUsSection #secondParagraph {
      grid-column: 3;
      grid-row: 2;
      text-align: right; }
      body #aboutUsSection #secondParagraph .paragraph {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        font-size: 1.5em;
        margin-top: 3%; }
    body #aboutUsSection #thirdParagraph {
      grid-column: 3;
      grid-row: 3;
      text-align: right; }
      body #aboutUsSection #thirdParagraph .paragraph {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        font-size: 1.5em; }
  body #contact {
    display: grid;
    grid-row: 5;
    grid-column: 1 / span 1;
    grid-template-columns: 5% 33% 39% 21% 2%;
    grid-template-rows: 100%;
    background-color: #147eb2; }
    body #contact .adress {
      grid-row: 1;
      grid-column: 2; }
      body #contact .adress .smallHeadline {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        font-size: 1.5em;
        margin-bottom: 0%; }
      body #contact .adress ul {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        font-size: 1.5em;
        list-style: none;
        padding: 0%; }
    body #contact .contactUs {
      grid-row: 1;
      grid-column: 3; }
      body #contact .contactUs .smallHeadline {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        font-size: 1.5em;
        margin-bottom: 0%; }
      body #contact .contactUs ul {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        font-size: 1.5em;
        list-style: none;
        padding: 0%; }
    body #contact .socialMedia {
      grid-row: 1;
      grid-column: 4; }
      body #contact .socialMedia .smallHeadline {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        font-size: 1.5em;
        margin-bottom: 0%; }
      body #contact .socialMedia ul {
        font-family: "Lato", sans-serif;
        color: #ffffff;
        font-size: 1.5em;
        list-style: none;
        padding: 0%; } }
